body {
	height: 100%;
	background-color: black;
	color: white;
}
.main {
	display: flex;
    justify-content: space-between;
	margin-bottom: 50px;
}
.svgcontainer {
	max-width:350px; 
	border-style:solid; border-width: 2px;
	padding-top: 10px;
} 
.onion {
	display: block;
	margin: auto;
	scale: 1.0;
}
#OnionButton.animate {
	transform: scale(1.1);
}
#OnionButton {
	transition: transform 0.1s ease-out;
}
.box {
	display: inline-block;
	width: 33.33%;
	height: inherit;
	border-right-style: dotted;
	padding-left: 10px;
}
.onion {
	max-width: 25%;
	width: 100%;
	height: auto;
}
  .stock {
	max-width: 350px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    color: white;
}
	
 .chart {
 	padding-top: 5px;
 	position:relative;
  	border-style: dotted;
	border-width: 1px;
	max-width: 100%;
    color: white;
}
.Numberdisplay {
	max-width: 348px;
	font-weight: bold;
	border-style: solid; border-width: 2px;
	padding-left: 2px;
}
 .footer {
	border-top: dotted;
	border-width: 1px;
	width: 100%;
	position:fixed;
	bottom:0;
	background-color: black;
}
 .speedbar {
 	width:30px;
}
.progress-bar {
	border-style: solid; border-width: 2px; border-color:#fff;
	max-width: 350px;
	height: 12px;
	background-color: black;
} 
.progress {
	height: 60%;
	background-color: #fff;
	width: 0%;
}
.context-upgrade {
	border-style: solid; border-width: 2px; border-color:#fff;
	max-width: 350px;
}
.secondmistake {
	margin-top: 5px; margin-bottom: 5px;
}
.worker {
	font-weight: bold;
	border-top-style:solid;
}
.workersub {
	padding-left: 10px;
}
.context-upgrade h3 {
	margin-top: 5px; margin-bottom: 0px;
	border-bottom-style: dotted; border-width: 1px;
	padding-left: 5px;
}
.description {
	margin-top: 5px;
	border-style: dashed; border-width: 1px;
	padding-left: 5px;
}
button:disabled {
	border-style: solid; border-color: darkred;
	background-color: black;
	color: darkred;
}
button:disabled {
	border-style: dashed; border-color: darkred;
	background-color: black;
	color: darkred;
	font: inherit;
	font: inherit; font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
button:active {
	border-style: solid; border-color: green;
	background-color: black;
	color: green;
	font: inherit; font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
button {
	border-style: solid; border-color: white;
	background-color: black;
	color: white;
	font: inherit; font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
.Sell_Btn {
	margin-bottom: 15px;
}