* {
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
	color: white;
}
.header {
	width: 100%;
	padding-top: 2px;
	border-bottom-style:solid; border-width: 2px;
}
.footer {
	border-top: solid;
	border-width: 2px;
	width: 100%;
	position:fixed;
	bottom:0;
	background-color: black;
}
.main {
	display: flex;
    justify-content: space-between;
}
.svgcontainer {
	max-width:350px; 
	border-style:solid; border-width: 2px;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 17px;
} 
.onion {
	display: block;
	margin: auto;
	scale: 1.0;
}
#OnionButton.animate {
	transform: scale(1.1);
}
#OnionButton {
	transition: transform 0.1s ease-out;
}
.box {
	display: inline-block;
	width: 33.33%;
	padding-left: 10px; padding-right: 10px;
}
.onion {
	max-width: 25%;
	width: 100%;
	height: auto;
}
  .stock {
	max-width: 348px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    color: white;
	margin: 0 auto;
}
	
.Numberdisplay {
	max-width: 348px;
	font-weight: bold;
	border-style: solid; border-width: 2px;
	margin: 0 auto;
}
.progress-bar {
	border-style: solid; border-width: 2px; border-color:#fff;
	max-width: 350px;
	height: 12px;
	background-color: black;
} 
.progress {
	height: 100%;
	background-color: #fff;
	width: 0%;
}
.context {
	border-style: solid; border-width: 2px; border-color:#fff;
	max-width: 350px;
	margin: 0 auto;
	margin-top: 17px;
}
.worker {
	font-weight: bold;
}
.workersub {
	padding-left: 10px;
}
.context h3 {
	margin-top: 5px; margin-bottom: 0px;
	border-bottom-style: solid; border-width: 3px;
	padding-left: 5px;
}
.description {
	border-top-style: dashed; border-width: 1px; border-bottom-style: solid;
	padding-left: 5px;
	color: gold;
	margin-bottom: 8px; margin-top: 6px;
	
}
.descriptionach {
	border-style: dashed; border-width: 1px;
	padding-left: 5px;
}
button:disabled {
	border-style: dashed; border-color: darkred;
	background-color: black;
	color: darkred;
	font: inherit;
	font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
button:active:not([disabled]) {
	border-style: solid; border-color: green;
	background-color: black;
	color: green;
	font: inherit; font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
button {
	border-style: solid; border-color: white;
	background-color: black;
	color: white;
	font: inherit; font-size: 15px;
	padding-left: 2px; padding-right: 2px;
}
li {
	list-style-position: inside;
}
.ach-left-div img {
	width: 70%;
    border-style: solid;
    border-width: 1%;
	padding: 0.1%;
}
.ach-right-div {
	flex: 0 0 80%;
}
.ach-left-div {
	flex: 0 0 20%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.ach-box {
	display:flex;
	padding-top: 4px;
}
.collapsebutton {
	float: right;
	margin-top: -2px;
}

.hidden {
	display: none;
}
.title {
	color: gold;
	padding-left: 10px;
}
.stat-actual {
	color: gold;
	padding-left: 10px;
	padding-top: 2px; padding-bottom: 2px;
}
.progress-label {
	color: white;
	position: absolute;
	max-width: 100%;
	left: 50%; /* Set left to 50% for centering */
  transform: translateX(-50%); /* Adjust for half of the element's width */
  font-weight: 900;
  vertical-align: middle;
  mix-blend-mode: difference;
}
p {
	padding-top: 5px; padding-bottom: 5px,
}